<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>QueueMonitor Ping</title>
</head>
<body>    
    <h2>It's Alive!!!</h2>
    <hr />
    <small>@Environment.MachineName  @@  @DateTime.UtcNow</small>
</body>
</html>
