<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="QueueManagerConfiguration" requirePermission="false" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="LogManager" requirePermission="false" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="true" />
    <add key="PreserveLoginUrl" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="QueueManagerStarterConnectionString" connectionString="server=.;database=QueueManagerStarter;integrated security=true;" />
  </connectionStrings>
  <QueueManagerConfiguration>
    <add key="ConnectionString" value="QueueManagerStarterConnectionString" />
    <add key="WaitInterval" value="2000" />
    <add key="QueueName" value="MPWF" />
    <add key="ControllerThreads" value="2" />
    <add key="Controllers1" value=",MPWF,2,150" />
    <add key="Controllers2" value=",MPWF_VFP,7,200" />
    <add key="MonitorHostUrl" value="http://*:8080/" />
    <add key="MonitorSignalRHubUrl" value="~/signalR/hubs" />
    <add key="MonitorHtmlUrl" value="~/QueueMonitor.cshtml" />
  </QueueManagerConfiguration>
  <LogManager>
    <add key="ConnectionString" value="" />
    <add key="LogFilename" value="~/Admin/ApplicationWebLog.xml" />
    <add key="LogAdapter" value="Xml" />
    <add key="LogWebRequests" value="False" />
    <add key="LogErrors" value="True" />
  </LogManager>
</configuration>