<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="MarvelPressWorkflowConfiguration" requirePermission="false" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="QueueManagerConfiguration" requirePermission="false" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="LogManager" requirePermission="false" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="MarvelPressWorkflowAdminConfiguration" requirePermission="false" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <connectionStrings>
    <add name="MarvelPressWorkflowContext" connectionString="Server=MarvelPress;Database=MarvelPress;uid=mpwfteam;pwd=firstclassmail;Enlist=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
    <!-- add name="MarvelPressWorkflowContext" 
         connectionString="Server=.; Database=MarvelPress;integrated security=true;Enlist=True;MultipleActiveResultSets=True"
         providerName="System.Data.SqlClient" / -->
  </connectionStrings>
  <MarvelPressWorkflowConfiguration>
    <add key="Culture" value="en-GB"/>
    <add key="DebugMode" value="DeveloperErrorMessage"/>
    <add key="MaxListDisplayCount" value="15"/>
    <add key="ApplicationName" value="MarvelPress Workflow"/>
    <add key="MinPasswordLength" value="5"/>
    <add key="DefaultQueueName" value="MPWF"/>
  </MarvelPressWorkflowConfiguration>
  <MarvelPressWorkflowAdminConfiguration>
    <add key="ConnectionString" value="MarvelPressWorkflowContext"/>
    <add key="DebugMode" value="Default"/>
    <add key="MailServer" value=""/>
    <add key="MailServerUserName" value=""/>
    <add key="MailServerPassword" value=""/>
    <add key="AdminEmailRecipient" value=""/>
    <add key="AdminSenderEmail" value=""/>
    <add key="AdminSenderName" value=""/>
    <add key="MonitorHostUrl" value="http://*:8080/"/>
    <add key="MailServerUseSsl" value="False"/>
    <add key="WebApiServiceBaseUrl" value="http://10.60.12.134:8081/"/>
    <add key="NavWebServiceUrl" value="http://10.60.12.153:7047/DynamicsNAV/WS/MP%20UK%20-%20LIVE/Page/"/>
    <add key="NavWebServiceUsername" value="sawgrassink
av_service"/>
    <add key="NavWebServicePassword" value="Ap4n@ST!"/>
    <add key="NavConnectionString" value="server=10.60.12.151;database=SG-TEST;uid=craig;pwd=Imp!n9edKarma;"/>
  </MarvelPressWorkflowAdminConfiguration>
  <QueueManagerConfiguration>
    <add key="ConnectionString" value="MarvelPressWorkflowContext"/>
    <add key="WaitInterval" value="1000"/>
    <add key="QueueName" value="MPWF"/>
    <add key="ControllerThreads" value="2"/>
  </QueueManagerConfiguration>
  <LogManager>
    <add key="ConnectionString" value="MarvelPressWorkflowContext"/>
    <add key="LogFilename" value="QueueServiceLog"/>
    <add key="LogAdapter" value="Sql"/>
    <add key="LogWebRequests" value="False"/>
    <add key="LogErrors" value="True"/>
  </LogManager>
</configuration>
