<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.SignalR.Core" version="1.0.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.Owin" version="1.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.HttpListener" version="0.20-alpha-20220-88" targetFramework="net45" />
  <package id="Microsoft.Owin.Hosting" version="0.20-alpha-20220-88" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.5" targetFramework="net40" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="Owin.Extensions" version="0.8.5" targetFramework="net45" />
  <package id="Owin.Types" version="0.8.5" targetFramework="net45" />
  <package id="Westwind.Utilities" version="2.50.01" targetFramework="net45" />
</packages>